@import "../global/variables.scss";

.button {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 8px 20px;
  font-family: "Montserrat", "Arial", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  border: none;
  border-radius: 4px;
  background-color: $base-primary;
  color: $base-white;
  text-decoration: none;
  cursor: pointer;

  &:hover,
  &:focus {
    background-color: $primary-lighter;
  }

  &:active {
    background-color: $primary-darker;
  }

  &:disabled,
  &[aria-disabled="true"] {
    background-color: $base-gray;
    cursor: auto;
  }

  &--reset {
    background-color: $base-white;
    color: $base-primary;

    &:hover,
    &:focus {
      color: $base-white;
    }

    &:disabled {
      color: $base-white;
      background-color: $light-gray;
      cursor: auto;
    }
  }

  &--order {
    gap: 6px;
    position: relative;
    padding: 8px 20px;
    font-size: 14px;
    line-height: 20px;

    &::before {
      content: "";
      /* position: absolute; */
      width: 20px;
      height: 16px;
      background-image: url("../../img/icons/stack.svg#card-icon");
    }
  }
}
