@import "../global/variables.scss";

.catalog {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 50px 17px 44px 29px;
  background-color: $lightest-gray;

  @media (min-width: $tablet-width) {
    padding: 80px 20px 90px;
  }

  @media (min-width: $desktop-width) {
    padding: 100px 40px 120px;
  }
}

.catalog__wrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;

  @media (min-width: $desktop-width) {
    width: auto;
  }
}

.catalog__text-badge {
  margin-bottom: 4px;
  font-weight: 700;
  color: $base-primary;
  text-align: center;
  text-transform: uppercase;
}

.catalog__title {
  margin-top: 0;
  margin-bottom: 20px;
  font-weight: 700;
  font-size: 24px;
  line-height: 36px;
  text-align: center;

  @media (min-width: $tablet-width) {
    font-size: 42px;
    line-height: 64px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 36px;
  }
}

.catalog__form {
  margin-bottom: 36px;

  @media (min-width: $tablet-width) {
    margin-bottom: 40px;
  }

  @media (min-width: $desktop-width) {
    margin-top: 5px;
    grid-column: 1 / 2;
    grid-row: 1 / -1;
  }
}

.catalog__products-list {
  padding: 0;
  margin-top: 0;
  margin-bottom: 40px;
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 21px;

  @media (min-width: $tablet-width) {
    margin-bottom: 70px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 30px;
  }

  @media (min-width: $desktop-width) {
    grid-template-columns: repeat(3, 1fr);
    grid-column: 2 / -1;
    grid-row: 2 / -1;
    margin-top: -4px;
    margin-bottom: 60px;
  }
}

.catalog__pagination {
  width: 100%;
  padding: 0;
  margin: 0;
  list-style: none;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;

  @media (min-width: $tablet-width) {
    gap: 20px;
    justify-content: flex-end;
  }
}

.catalog__pagination-link {
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  overflow: hidden;
  font-size: 16px;
  line-height: 24px;
  background-color: $base-white;
  border-radius: 4px;
  color: $base-primary;
  text-decoration: none;

  &--current {
    font-weight: 600;
    background-color: transparent;
    color: $base-black;
  }

  &:not(.catalog__pagination-link--current) {
    &:hover,
    &:focus {
      background-color: $primary-lighter;
      color: $base-white;
    }

    &:active {
      background-color: $primary-darker;
    }

    &[aria-disabled="true"] {
      background-color: $light-gray;
      color: $base-white;
      cursor: auto;
    }
  }
}

.catalog__pagination-link--prev,
.catalog__pagination-link--next {
  &:hover,
  &:focus,
  &:active,
  &[aria-disabled="true"] {
    .catalog__pagination-icon {
      fill: $base-white;
    }
  }

  @media (min-width: $tablet-width) {
    width: auto;
    padding: 8px 20px;
  }
}

.catalog__pagination-icon {
  fill: $base-primary;

  @media (min-width: $tablet-width) {
    display: none;
  }
}

.catalog__pagination-text {
  display: none;

  @media (min-width: $tablet-width) {
    display: block;
  }
}

.catalog__inner-wrapper {
  width: 100%;

  @media (min-width: $desktop-width) {
    width: auto;
    display: grid;
    grid-template-columns: repeat(2, auto);
    grid-template-rows: repeat(2, auto);
    gap: 30px;
  }
}

.catalog__select-wrapper {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin-bottom: 16px;

  @media (min-width: $tablet-width) {
    justify-content: flex-end;
    margin-bottom: 26px;
  }

  @media (min-width: $desktop-width) {
    justify-content: flex-end;
    margin-bottom: 0;
  }
}

.catalog__select {
  box-sizing: border-box;
  width: 163px;
  padding: 4px 0 4px 10px;
  font: inherit;
  border: none;
  border-radius: 4px;
  outline: none;
  background-color: transparent;
  color: $base-primary;
  appearance: none;
  cursor: pointer;
}

.catalog__label {
  display: flex;
  align-items: center;
  gap: 10px;
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  position: relative;

  &::after {
    content: "";
    position: absolute;
    right: 5px;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 10px;
    height: 6px;
    background-image: url("../../img/icons/stack.svg#arrow-down-icon");
  }

  &:hover,
  &:focus {
    .catalog__select {
      background-color: $base-secondary;
    }
  }

  @media (min-width: $tablet-width) {
    gap: 11px;
  }

  @media (min-width: $desktop-width) {
    grid-column: 2 / -1;
    grid-row: 1 / 2;
  }
}
