@import "../global/variables.scss";

.features {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 50px 20px 60px;
  background-color: $base-white;

  @media (min-width: $tablet-width) {
    padding: 248px 30px 100px;
  }

  @media (min-width: $desktop-width) {
    padding: 100px 40px 120px;
  }
}

.features__text-badge {
  margin-bottom: 4px;
  font-weight: 700;
  color: $base-primary;
  text-transform: uppercase;
}

.features__title {
  margin-top: 0;
  margin-bottom: 36px;
  font-weight: 700;
  font-size: 24px;
  line-height: 36px;
  text-align: center;

  @media (min-width: $tablet-width) {
    margin-bottom: 60px;
    font-size: 42px;
    line-height: 64px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 80px;
  }
}

.features__list {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  gap: 32px;
  padding: 0;
  margin-top: 0;
  margin-bottom: 0;
  list-style: none;

  @media (min-width: $tablet-width) {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 50px 30px;
  }

  @media (min-width: $desktop-width) {
    grid-template-columns: repeat(4, 1fr);
    gap: 30px;
  }
}

.features__item {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5px;

  &::before {
    content: "";
    width: 52px;
    height: 56px;
  }

  &--speed {
    &::before {
      background-image: url("../../img/icons/stack.svg#feature-speed-icon");
    }
  }

  &--fit {
    &::before {
      background-image: url("../../img/icons/stack.svg#feature-fit-icon");
    }
  }

  &--energy {
    &::before {
      background-image: url("../../img/icons/stack.svg#feature-energy-icon");
    }
  }

  &--eco {
    &::before {
      background-image: url("../../img/icons/stack.svg#feature-eco-icon");
    }
  }

  @media (min-width: $tablet-width) {
    display: grid;
    grid-template-columns: 52px 1fr;
    column-gap: 20px;
  }

  @media (min-width: $desktop-width) {
    display: flex;
    flex-direction: column;
    max-width: 317px;
  }
}

.features__item-title {
  margin-top: 0;
  margin-bottom: 4px;
  font-weight: 700;
  font-size: 18px;
  line-height: 32px;

  @media (min-width: $tablet-width) {
    grid-column: 2 / -1;
    margin-bottom: 10px;
    font-size: 24px;
    line-height: 36px;
  }
}

.features__item-description {
  margin-top: 0;
  margin-bottom: 0;
  font-size: 14px;
  line-height: 20px;
  text-align: center;

  @media (min-width: $tablet-width) {
    grid-column: 2 / -1;
    font-size: 16px;
    line-height: 24px;
    text-align: left;
  }

  @media (min-width: $desktop-width) {
    text-align: center;
  }
}
