@import "../global/variables.scss";

.form {
  display: flex;
  flex-direction: column;
  align-items: center;

  @media (min-width: $tablet-width) {
    align-items: stretch;
  }
}

.form__fieldsets-wrapper {
  margin-bottom: 29px;

  @media (min-width: $tablet-width) {
    display: flex;
    justify-content: space-between;
    margin-bottom: 40px;
    padding-right: 26px;
  }

  @media (min-width: $desktop-width) {
    flex-direction: column;
    padding-right: 0;
  }
}

.form__fieldset {
  padding: 0;
  margin: 0;
  border: none;

  &--inputs-number {
    margin-bottom: 30px;

    .form__legend {
      margin-bottom: 30px;
    }

    @media (min-width: $desktop-width) {
      margin-bottom: 32px;
    }
  }

  &--inputs-radio {
    margin-bottom: 34px;

    .form__legend {
      margin-bottom: 21px;
    }

    @media (min-width: $tablet-width) {
      padding-right: 13px;
      margin-bottom: 29px;
    }

    @media (min-width: $desktop-width) {
      padding-right: 0;
    }
  }

  &--inputs-checkbox {
    .form__legend {
      margin-bottom: 21px;
    }
  }

  @media (min-width: $desktop-width) {
    margin-left: 0;
  }
}

.form__legend {
  padding: 0;
  margin-top: 0;
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
}

.form__range {
  width: 280px;
  position: relative;
  padding: 0 10px;
  margin-bottom: 36px;
  height: 2px;
  border-radius: 20px;
  background-color: $light-gray;

  @media (min-width: $tablet-width) {
    width: 223px;
    margin-bottom: 31px;
  }

  @media (min-width: $desktop-width) {
    width: 318px;
  }
}

.form__range-bar {
  width: 240px;
  position: relative;
  height: 4px;
  background-color: $primary-lighter;

  @media (min-width: $tablet-width) {
    width: 192px;
  }

  @media (min-width: $desktop-width) {
    width: 274px;
  }
}

.form__range-toggle {
  box-sizing: border-box;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  padding: 0;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: $base-white;
  border: 2px solid $primary-lighter;
  cursor: pointer;

  &--min {
    left: 0;
  }

  &--max {
    right: 0;
  }
}

.form__input-wrapper {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;

  &::before {
    content: "";
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    width: 8px;
    height: 2px;
    background-color: $base-gray;
  }
}

.form__input {
  &--number {
    box-sizing: border-box;
    max-width: 118px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 6px 27px;
    background-color: $base-white;
    font: inherit;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    color: $base-black;
    border: 2px solid $primary-lighter;
    border-radius: 4px;
    appearance: textfield;

    &::-webkit-inner-spin-button,
    &::-webkit-outer-spin-button {
      appearance: none;
    }

    &::placeholder {
      font-weight: 500;
      font-size: 16px;
      line-height: 24px;
      color: $base-gray;
    }

    &:focus,
    &:focus-visible {
      outline: none;
      border: 2px solid $primary-darker;
    }

    &:disabled {
      background-color: $lightest-gray;
      color: $base-gray;
      border: 2px solid $light-gray;
    }

    @media (min-width: $tablet-width) {
      max-width: 87px;
      padding: 6px 15px;
    }

    @media (min-width: $desktop-width) {
      max-width: 134px;
      padding: 6px 36px;
    }
  }

  &--radio {
    position: absolute;
    z-index: -1;
    opacity: 0;

    & + .form__input-description {
      padding-left: 33px;
    }

    &:not(:disabled):not(:checked) + .form__input-description:hover::before,
    &:not(:disabled):not(:checked) + .form__input-description:focus::before {
      border: 2px solid $primary-lighter;
    }

    &:not(:disabled):not(:checked) + .form__input-description:hover::after,
    &:not(:disabled):not(:checked) + .form__input-description:focus::after {
      content: "";
      position: absolute;
      left: 4px;
      width: 16px;
      height: 16px;
      border-radius: 50%;
      background-color: rgba(120, 89, 207, 0.25);
    }

    & + .form__input-description::before {
      content: "";
      position: absolute;
      left: 0;
      width: 20px;
      height: 20px;
      background-color: $base-white;
      border-radius: 50%;
      border: 2px solid $base-gray;
    }

    &:checked + .form__input-description::before {
      border: 2px solid $base-primary;
    }

    &:checked + .form__input-description::after {
      content: "";
      position: absolute;
      left: 4px;
      width: 16px;
      height: 16px;
      border-radius: 50%;
      background-color: $base-primary;
    }

    &:disabled + .form__input-description {
      color: $base-gray;
      cursor: auto;
    }

    &:disabled + .form__input-description::before {
      border: 2px solid $light-gray;
    }

    &:checked:disabled + .form__input-description::after {
      background-color: $light-gray;
    }
  }

  &--checkbox {
    position: absolute;
    z-index: -1;
    opacity: 0;

    & + .form__input-description {
      padding-left: 53px;
    }

    &:not(:disabled):not(:checked) + .form__input-description:hover::before,
    &:not(:disabled):not(:checked) + .form__input-description:focus::before {
      background-color: rgba(120, 89, 207, 0.25);
      border: 2px solid $primary-lighter;
    }

    & + .form__input-description::before {
      box-sizing: border-box;
      content: "";
      position: absolute;
      left: 0;
      width: 42px;
      height: 24px;
      background-color: $base-gray;
      border-radius: 12px;
      border: 2px solid $base-gray;
    }

    &:checked + .form__input-description::before {
      background-color: $base-primary;
      border: 2px solid $base-primary;
    }

    & + .form__input-description::after {
      content: "";
      position: absolute;
      left: 2px;
      width: 20px;
      height: 20px;
      border-radius: 50%;
      background-color: $base-white;
      transition: left 0.3s ease-in;
    }

    &:checked + .form__input-description::after {
      left: 20px;
    }

    &:disabled + .form__input-description {
      color: $base-gray;
      cursor: auto;
    }

    &:disabled + .form__input-description::before {
      background-color: $light-gray;
      border: 2px solid $light-gray;
    }

    &:disabled + .form__input-description::after {
      background-color: $lightest-gray;
    }

    &:checked:disabled + .form__input-description::after {
      background-color: $base-gray;
    }
  }
}

.form__fieldset-inner-wrapper {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.form__input-description {
  position: relative;
  display: flex;
  align-items: center;
  gap: 10px;
}

.form__buttons-wrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 20px;

  @media (min-width: $tablet-width) {
    flex-direction: row;
    justify-content: center;
  }

  @media (min-width: $desktop-width) {
    justify-content: flex-start;
  }
}

.form__label {
  font-size: 16px;
  line-height: 24px;
  cursor: pointer;
}
