@import "../global/variables.scss";

.header {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  position: relative;
  font-family: "Montserrat", "Arial", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
  color: $base-black;
  background-color: $base-white;
}

.header__logo-wrapper {
  margin-left: 20px;

  @media (min-width: $desktop-width) {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 20px;
    margin-left: 40px;
  }
}

.header__logo-description {
  display: none;

  @media (min-width: $desktop-width) {
    display: inline;
    font-weight: 400;
    max-width: 170px;
  }
}
