@import "../global/variables.scss";

.header {
  max-width: 3840px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  font-weight: 500;
  color: $base-black;
  background-color: $base-white;

  @media (min-width: 2000px) {
    margin: 0 auto;
  }
}

.header__logo-wrapper {
  margin-left: 20px;

  @media (min-width: $desktop-width) {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 20px;
    margin-left: 40px;
  }
}

.header__logo-description {
  display: none;

  @media (min-width: $desktop-width) {
    display: inline;
    font-weight: 400;
    max-width: 170px;
  }
}
