@import "../global/variables.scss";

.nav-list {
  padding: 0;
  margin-top: 0;
  margin-bottom: 0;
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;

  @media (min-width: $tablet-width) {
    flex-direction: row;
  }
}

.nav-list__item {
  position: relative;
  text-align: center;

  &::before {
    position: absolute;
    content: "";
    left: 0;
    width: 100%;
    height: 1px;
    background-color: $base-secondary;

    @media (min-width: $tablet-width) {
      content: none;
    }
  }

  &:last-child::after {
    position: absolute;
    content: "";
    left: 0;
    width: 100%;
    height: 1px;
    background-color: $base-secondary;

    @media (min-width: $tablet-width) {
      content: none;
    }
  }
}

.nav-list__link {
  position: relative;
  display: block;
  padding: 20px;
  font-size: 12px;
  line-height: 16px;
  color: $base-black;
  text-transform: uppercase;
  text-decoration: none;

  &:active {
    background-color: $base-secondary;
  }

  @media (min-width: $tablet-width) {
    position: relative;
    padding: 32px 15px;

    &--current {
      color: $base-primary;

      &::before {
        content: "";
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 2%;
        background-color: $base-primary;
      }
    }

    &:hover,
    &:focus {
      color: $base-primary;
    }

    &:active {
      color: $base-primary;
      background-color: $base-secondary;
    }
  }
}
