@import "../global/variables.scss";

.product {
  display: flex;
  flex-direction: column;
  padding: 40px 21px 20px 18px;
  background-color: $base-white;
  border-radius: 4px;

  @media (min-width: $tablet-width) {
    padding: 50px 41px 30px 30px;
  }

  @media (min-width: $desktop-width) {
    &:hover,
    &:focus-within {
      box-shadow: 0 5px 15px rgba(0, 0, 0, 0.15);
    }
  }
}

.product__link {
  text-decoration: none;
}

.product__image {
  display: block;
  margin: 0 auto 23px;

  @media (min-width: $tablet-width) {
    margin-bottom: 30px;
    padding-left: 8px;
  }
}

.product__name {
  margin-top: 0;
  margin-bottom: 4px;
  font-weight: 700;
  font-size: 18px;
  line-height: 32px;
  color: $base-black;

  @media (min-width: $tablet-width) {
    margin-bottom: 10px;
    font-size: 24px;
    line-height: 36px;
  }
}

.product__description {
  margin-top: 0;
  margin-bottom: 16px;
  padding-right: 5px;
  font-size: 14px;
  line-height: 20px;

  @media (min-width: $tablet-width) {
    padding-right: 0;
    margin-bottom: 20px;
  }
}

.product__order-wrapper {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

.product__price {
  font-weight: 600;
  font-size: 20px;
  line-height: 32px;
}

.product__order-button {
  @media (min-width: $tablet-width) {
    margin-right: -11px;
  }
}
