@import "../global/variables.scss";

.social {
  padding: 0;
  margin: 0;
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  align-items: baseline;
  gap: 20px;
  max-width: 200px;
}

.social__icon {
  vertical-align: middle;
  fill: $base-gray;
}

.social__link {
  display: block;
  padding: 10px;
  border-radius: 4px;

  &:hover,
  &:focus {
    background-color: $base-secondary;

    .social__icon {
      fill: $base-primary;
    }
  }

  &:active {
    background-color: rgba(120, 89, 207, 0.25);
  }
}
