@import "../global/variables.scss";

.social {
  padding: 0;
  margin: 0;
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  align-items: baseline;
  gap: 20px;
  max-width: 200px;
}

.social__icon {
  vertical-align: middle;
}

.social__link {
  padding: 10px;
}
