@import "../global/variables.scss";

.user-list {
  max-width: 180px;
  padding: 0;
  margin-top: 0;
  margin-bottom: 0;
  list-style: none;
  display: flex;
  flex-wrap: wrap;

  @media (min-width: $tablet-width) {
    margin: 0 20px 0 0;
  }

  @media (min-width: $desktop-width) {
    margin: 0 40px 0 0;
    max-width: 360px;
  }
}

.user-list__link {
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 22px;
  color: $base-black;
  text-decoration: none;
  text-transform: uppercase;
}

.user-list__description {
  display: none;

  @media (min-width: $desktop-width) {
    display: inline;
  }
}
